.footer
  a(target="_blank", href="/")
    span 活在当下
  a(href="https://github.com/wty625073563")  喵喵喵 
  span & 
  a(href="http://t66y.com/index.php") BLUE BLUE
  .by_farbox
    a(href="https://hexo.io/zh-cn/", target="_blank") Thanks for Hexo&#65281;
